USE [master]
GO
/****** Object:  Database [ToDoDB]    Script Date: 3/15/2018 12:00:21 PM ******/
CREATE DATABASE [ToDoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToDoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ToDoDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ToDoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ToDoDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToDoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToDoDB]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 3/15/2018 12:00:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[DueDate] [datetime] NULL,
	[IsDone] [bit] NOT NULL,
	[Priority] [int] NOT NULL,
	[ListID] [int] NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lists]    Script Date: 3/15/2018 12:00:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lists](
	[ListID] [int] IDENTITY(1,1) NOT NULL,
	[ListName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Lists] PRIMARY KEY CLUSTERED 
(
	[ListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([ItemID], [ItemName], [Description], [DueDate], [IsDone], [Priority], [ListID]) VALUES (1, N'Wash Dishes', NULL, CAST(N'2018-03-13 00:00:00.000' AS DateTime), 0, 3, 2)
INSERT [dbo].[Items] ([ItemID], [ItemName], [Description], [DueDate], [IsDone], [Priority], [ListID]) VALUES (2, N'Go to Comic Shop', N'Geek Out', NULL, 0, 2, 3)
INSERT [dbo].[Items] ([ItemID], [ItemName], [Description], [DueDate], [IsDone], [Priority], [ListID]) VALUES (3, N'Paper Towels', N'Get Bounty select a size', CAST(N'2018-03-12 00:00:00.000' AS DateTime), 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Items] OFF
SET IDENTITY_INSERT [dbo].[Lists] ON 

INSERT [dbo].[Lists] ([ListID], [ListName]) VALUES (1, N'Shopping List')
INSERT [dbo].[Lists] ([ListID], [ListName]) VALUES (2, N'Chore List')
INSERT [dbo].[Lists] ([ListID], [ListName]) VALUES (3, N'Leisure List')
SET IDENTITY_INSERT [dbo].[Lists] OFF
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Lists] FOREIGN KEY([ListID])
REFERENCES [dbo].[Lists] ([ListID])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Lists]
GO
USE [master]
GO
